@model KissU.Authentication.Models.DiagnosticsViewModel
    <div class="container">
        <h1>Authentication cookie</h1>
        <a asp-action="Logout" asp-controller="Account">Logout</a>
        <h3>Claims</h3>
        <dl>
            @foreach (var claim in Model.AuthenticateResult.Principal.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
        <h3>Properties</h3>
        <dl>
            @foreach (var prop in Model.AuthenticateResult.Properties.Items)
            {
                <dt>@prop.Key</dt>
                <dd>@prop.Value</dd>
            }
        </dl>
        @if (Model.Clients.Any())
        {
            <h3>Clients</h3>
            <ul>
                @foreach (var clientCode in Model.Clients)
                {
                    <li>@clientCode</li>
                }
            </ul>
        }
    </div>